body {
    background-color: #F2B28C;
}

.tx {
    font-family: 'Inknut Antiqua', serif;
}

.carousel-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.show {
    opacity: 1;
}

a {
    color: #303030;
    text-decoration: none;
}

.text-white {
    color: white;
}

.reserva {
    font-size: small;
}

.carousel-item {
    background-color: #F6DED8;
}

.txt {
    font-size: 64px;
    color: #F6DED8;
    font-family: "Joti One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 17.92px;
}

.desc {
    font-family: "Joti One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.72px;
}

.tit {
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 17.92px;
    color: #ff0000;
}

.desc h3{
    font-family: "Joti One";
font-size: 32px;
font-style: normal;
font-weight: 550;
line-height: normal;
letter-spacing: 8.96px;
}